.slider-container {
    display: flex;
    align-items: center;
    margin: 10px auto;
}

.logo {
    margin-right: 10px;
    padding: 10px;
    background-color: pink;
    border-radius: 4px;
}

.logo a {
    color: white;
    text-decoration: none;
}

.logo:hover {
    background-color: rgb(242, 114, 136);
    opacity: 0.8;
}

.slider {
    width: 300px;
    margin: 0 10px;
    display: inline-block;
}

.rc-slider-track {
    background-color: transparent;
}

.rc-slider-rail {
    height: 8px;
}

.rc-slider-handle,
.rc-slider-handle:active,
.rc-slider-handle:focus,
.rc-slider-handle:hover {
    background-color: rgb(255, 64, 128);
    outline: none;
    border: solid 2px rgb(255, 64, 128);
    box-shadow: none;
    width: 13px;
    height: 13px;
    margin-top: -3px;
    margin-left: -3px;
}